/* *********************************** */
/* *** Estilos SOLO para index.html *** */
/* *********************************** */


/* VARIABLES */
:root
{
    /* Colores solo para testeo */
    --color-dev-brown: brown;
    --color-dev-blue: blue;
    



    /* Colores Principales, secundarios */
    --background-color-default: #E5E5E5;
    --background-color-primera-capa: #F7F0F7;
    --background-color-segunda-capa: #FFFFFF;


    --background-color-formulario: #FAF5FB;
    --background-color-parrafo: #FAC8FF;
    --color-font-black: #000000;
    --color-font-white: #FFFFFF;
    --color-precio: #8D3B95;
    

    --color-icono-atras: #5C5C5C;


    /* Fuente */
    --font-family-default: "Roboto";
    --font-family-sec: "sans-serif";

    /* Tamaños Fuente */
    --default-size: 16px;
    --font-size-pequena: 36px;
    --font-size-mediana: 54px;
    --font-size-grande: 94px;
    --font-size-super-grande: 280px;
    

    /* Weight  */
    --font-weight-default: 400;
    
    /* Tamaño Bordes */
    --border-radius-mediano: 60px;
    --border-radius-pequeno: 40px;


    /* Margenes TOP*/
    --margin-top-1: 20px;
    --margin-top-2: 32px;
    --margin-top-3: 54px;
    --margin-top-4: 58px;
    --margin-top-5: 60px;
    --margin-top-6: 88px;
    --margin-top-7: 90px;
    --margin-top-8: 91px;
    --margin-top-9: 113px;

    /* Margenes Left */
    --margin-left-56-to-77: 56px;
    --margin-left-0-to-28: 28px;
    --margin-left-77-to-beyond: 77px;


    /* Anchura */
    --anchura-organismo: 931px;
    --anchura-primera-capa: 887px;
    --anchura-formulario: 776px;
    --anchura-precio-texto: 200px;


}

html
{
    width: 100vw;
    /* height: 100vh; */
}


body
{
    background-color: var(--background-color-default);
    color: var(--color-font-black);

    font-family: var(--font-family-default), var(--font-family-sec) ;
    font-size: var(--default-size);
    font-weight: var(--font-weight-default);

}

.contenidoCentrado
{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* en formato 1 columna */
.organismo
{

    background-color: var(--background-color-primera-capa);
    border-radius: var(--border-radius-mediano);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: var(--anchura-organismo);
    margin-top: var(--margin-top-6);
    margin-bottom: 69px;
}


.zonaBlanca
{

    width: var(--anchura-primera-capa);
    background-color: var(--background-color-segunda-capa);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: var(--border-radius-mediano);
    margin-top: var(--margin-top-1);


}

.zonaSuperior
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 22%;
    text-align: center;
    margin-top: var(--margin-top-9);
}

.iconoColorOscuro
{
    
    margin-left: var(--margin-left-56-to-77);

}

.iconoAtras
{
    width: 79px;
    height: 55px;
}

.textoCentrado
{
    text-align: center;
    justify-self: center;
    font-size: var(--font-size-grande)
    

}

.avatar
{
    margin-top: var(--margin-top-7);

}

.bordeRedondeado
{
    border-radius: 50%;
}


.textoAvatar
{
    margin-top: var(--margin-top-4);
    
}

.formatoNombre
{
    font-size: var(--font-size-mediana);
    font-weight: 700;
}

.formatoEmail
{

    font-size: var(--font-size-pequena);

    font-weight: 300;
    line-height: 42px;
    font-style: italic;
}


.cantidadFormularioPrecio
{
    background-color: var(--background-color-formulario);
    border-radius: var(--border-radius-pequeno);

    width: var(--anchura-formulario);
    height: 139px;

    margin-top: var(--margin-top-2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}


.formulario
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50%;
}

.grupoBotones
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.botones
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 28px;
    margin-left: var(--margin-left-0-to-28);
    margin-left: 33px;
}

.precioTexto
{
    color: var(--color-precio);
    font-size: var(--font-size-pequena);

    margin-left: var(--margin-left-77-to-beyond);
    width: var(--anchura-precio-texto);
    


}

.metodoPago
{
    color: var(--color-precio);
    font-size: var(--font-size-pequena);
}


.resultado
{
    margin-top: var(--margin-top-8);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.resultadoCifra
{
    font-size: var(--font-size-super-grande);

}

.resultadoEuro
{
    font-size: var(--font-size-grande);
}


.nombreProducto
{
    font-size: var(--font-size-mediana);
    margin-bottom: 134px;
}













.parrafo
{
    background-color: var(--background-color-parrafo);

    font-size: var(--font-size-pequena);

    /* font-weight: 400; */
    line-height: 42px;
    color: #5C5C5C;
    text-align: center;

    border-radius: 0px 40px 40px 40px;

    /* margin-top: 60px; */
    margin-top: var(--margin-top-5);
    width: 776px;
    height: 139px;

    display: flex;
    align-items: center;

}





.botonEnviar
{

    margin-top: var(--margin-top-3);
    /* margin-top: 54px; */
    margin-bottom: 112px;

    width: 776px;
    height: 139px;

    background-color: #1C1C1F;
    border-radius: var(--border-radius-pequeno);
    color: var(--color-font-white);

    font-size: calc(var(--font-size-pequena) + 4px);
    font-weight: calc( var(--font-weight-default) + 200);
    line-height: 46px;

    text-align: center;
}